In [1]:
import numpy as np
import pandas as pd

In [2]:
filepath_train = "files/train.csv"
filepath_test = "files/test.csv"
sample = 'files/sample_submission.csv'
ss_titanic = pd.read_csv(filepath_train, index_col = 'PassengerId')

In [6]:
ss_titanic

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [7]:
ss_titanic[Roomss_titanic[ss_titanic['CryoSleep'] == True]['RoomService'].fillna(0.0, inplace=True)
ss_titanic[ss_titanic['CryoSleep'] == True]['FoodCourt'].fillna(0.0, inplace=True)
ss_titanic[ss_titanic['CryoSleep'] == True]['ShoppingMall'].fillna(0.0, inplace=True)
ss_titanic[ss_titanic['CryoSleep'] == True]['Spa'].fillna(0.0, inplace=True)
ss_titanic[ss_titanic['CryoSleep'] == True]['VRDeck'].fillna(0.0, inplace=True)

SyntaxError: invalid syntax (Temp/ipykernel_9596/2148652426.py, line 2)

In [8]:
ss_titanic['Age'].fillna(28, inplace=True)

In [9]:
ss_titanic['RoomService'].fillna(0.0, inplace=True)
ss_titanic['FoodCourt'].fillna(0.0, inplace=True)
ss_titanic['ShoppingMall'].fillna(0.0, inplace=True)
ss_titanic['Spa'].fillna(0.0, inplace=True)
ss_titanic['VRDeck'].fillna(0.0, inplace=True)

In [10]:
ss_titanic['HomePlanet'].fillna('Unknown', inplace=True)
ss_titanic['CryoSleep'].fillna('Unknown',inplace=True)
ss_titanic['Cabin'].fillna('Unknown/Unknown/Unknown', inplace=True)

In [11]:
ss_titanic['Destination'].fillna('Unknown', inplace=True)

In [12]:
ss_titanic['VIP'].fillna(False, inplace=True)

In [13]:
ss_titanic['VIP'].value_counts()

False    8494
True      199
Name: VIP, dtype: int64

In [14]:
ss_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8693 non-null   object
 1   CryoSleep     8693 non-null   object
 2   Cabin         8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   VIP           8693 non-null   bool
 6   RoomService   8693 non-null   float64
 7   FoodCourt     8693 non-null   float64
 8   ShoppingMall  8693 non-null   float64
 9   Spa           8693 non-null   float64
 10  VRDeck        8693 non-null   float64
 11  Name          8493 non-null   object
 12  Transported   8693 non-null   bool
dtypes: bool(2), float64(6), object(5)
memory usage: 831.9+ KB

## Clean and prepare data

In [3]:
def clean(filepath):
    # read in CSV, set index to PassengerID
    df = pd.read_csv(filepath, index_col = 'PassengerId')
    
    #replacing null values
    # assume customers with na values did not make purchases in these columns
    df['RoomService'].fillna(0.0, inplace=True)
    df['FoodCourt'].fillna(0.0, inplace=True)
    df['ShoppingMall'].fillna(0.0, inplace=True)
    df['Spa'].fillna(0.0, inplace=True)
    df['VRDeck'].fillna(0.0, inplace=True)
    
    #for age, will replace na values with the average age
    df['Age'].fillna(29, inplace=True)
    
    # for remaining columns with null values, creating new category 'Unknown'
    df['HomePlanet'].fillna('Unknown', inplace=True)
    df['CryoSleep'].fillna('Unknown',inplace=True)
    df['Cabin'].fillna('Unknown/Unknown/Unknown', inplace=True)
    
    #making the assumption that VIP would be known
    df['VIP'].fillna(False, inplace=True)
    

    
    #split cabin into three columns: Deck, room number, and ship side
    df['Cabin'] = df['Cabin'].apply(lambda x: x.split('/'))
    df['deck'] = df['Cabin'].apply(lambda x: x[0])
    df['room_num'] = df['Cabin'].apply(lambda x: x[1])
    df['ship_side'] = df['Cabin'].apply(lambda x: x[2])
    df.drop(['Cabin'], axis=1, inplace=True)
    
    # drop High cardinality columns
    df.drop(['Name'], axis=1, inplace=True)
    
    return df

In [15]:
df = clean(filepath_train)

In [16]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,deck,room_num,ship_side
PassengerId,,,,,,,,,,,,,,
0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,0,P
0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,0,S
0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,0,S
0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,0,S
0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False,A,98,P
9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False,G,1499,S
9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True,G,1500,S
9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False,E,608,S
9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True,E,608,S

## Split Data

In [17]:
from sklearn.model_selection import train_test_split

target = 'Transported'
X = df.drop(columns=target)
y = df[target]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=.2, random_state=42)

## Baseline Accuracy

In [18]:
baseline_acc = y_train.value_counts(normalize=True).max()
print('Baseline Accuracy Score:', baseline_acc)

Baseline Accuracy Score: 0.5033074489502445

## Build Model

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

model_lr = make_pipeline(
            OneHotEncoder(),
            StandardScaler(),
            LogisticRegression())

model_lr.fit(X_train, y_train)

Pipeline(steps=[('onehotencoder',
                 OneHotEncoder(cols=['HomePlanet', 'CryoSleep', 'Destination',
                                     'deck', 'room_num', 'ship_side'])),
                ('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [20]:
from sklearn.metrics import accuracy_score
training_acc = accuracy_score(y_train, model_lr.predict(X_train))
print("Training accuracy: ", training_acc)

val_acc = accuracy_score(y_val, model_lr.predict(X_val))
print("Validation Accuracy:", val_acc)

Training accuracy:  0.8753235547886109
Validation Accuracy: 0.7326049453709028

In [21]:
from sklearn.tree import DecisionTreeClassifier
model_dt = make_pipeline(
            OneHotEncoder(),
            StandardScaler(),
            DecisionTreeClassifier(random_state=42))
model_dt.fit(X_train, y_train)

Pipeline(steps=[('onehotencoder',
                 OneHotEncoder(cols=['HomePlanet', 'CryoSleep', 'Destination',
                                     'deck', 'room_num', 'ship_side'])),
                ('standardscaler', StandardScaler()),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(random_state=42))])

In [22]:
training_acc = accuracy_score(y_train, model_dt.predict(X_train))
print("Training accuracy: ", training_acc)

Training accuracy:  0.9995685936151855

In [23]:
val_acc = accuracy_score(y_val, model_dt.predict(X_val))
print("Validation Accuracy: ", val_acc)

Validation Accuracy:  0.7590569292696953

In [24]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = make_pipeline(
            OneHotEncoder(),
            StandardScaler(),
            RandomForestClassifier(random_state=42))
model_rfc.fit(X_train, y_train)

training_acc = accuracy_score(y_train, model_rfc.predict(X_train))
val_acc = accuracy_score(y_val, model_rfc.predict(X_val))

print("Training accuracy: ", training_acc)
print("Validation accuracy: ", val_acc)

Training accuracy:  0.9995685936151855
Validation accuracy:  0.7958596894767107

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
model_gb = make_pipeline(
            OneHotEncoder(),
            StandardScaler(),
            GradientBoostingClassifier(random_state=42))
model_gb.fit(X_train, y_train)

training_acc = accuracy_score(y_train, model_gb.predict(X_train))
val_acc = accuracy_score(y_val, model_gb.predict(X_val))

print("Training Accuracy: ", training_acc)
print("Validation Accuracy: ", val_acc)

Training Accuracy:  0.8166522864538395
Validation Accuracy:  0.78953421506613

In [27]:
from xgboost import XGBClassifier
model_xgb = make_pipeline(
            OneHotEncoder(),
            StandardScaler(),
            XGBClassifier())
model_xgb.fit(X_train, y_train)

training_acc = accuracy_score(y_train, model_xgb.predict(X_train))
val_acc = accuracy_score(y_val, model_xgb.predict(X_val))

print("Training Accuracy: ", training_acc)
print("Validation Accuracy: ", val_acc)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[10:21:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Training Accuracy:  0.8792062122519413
Validation Accuracy:  0.7860839562967222

In [28]:
test_df = clean(filepath_test)

In [29]:
predictions = pd.DataFrame(data=model_rfc.predict(test_df), index = test_df.index)

In [30]:
predictions.rename(columns={0:'Transported'}, inplace = True)

In [31]:
predictions

             Transported
PassengerId
0013_01             True
0018_01            False
0019_01             True
0021_01             True
0023_01            False
...                  ...
9266_02             True
9269_01            False
9271_01             True
9273_01             True
9277_01             True

[4277 rows x 1 columns]

In [32]:
predictions.to_csv("new_submission.csv")

First Submission score: 0.79448, leaderboard position: 639